set_io i_clk         J3
set_io i_nrst        B2
set_io o_tx          B12
set_io i_rx          B10
set_io o_code[0]     A10 
set_io o_code[1]     A11
set_io o_code[2]     C9    
set_io o_code[3]     A9
set_io o_code[4]     B9
set_io o_code[5]     B8
set_io o_code[6]     A7
set_io o_code[7]     C7
set_io o_code[8]     B7
set_io o_code[9]     B6
set_io o_code[10]    C6
set_io o_code[11]    A6
set_io o_code[12]    A5
set_io o_code[13]    P16
set_io o_code[14]    N16
set_io o_code[15]    M16
set_io o_code[16]    M15
set_io o_code[17]    L16
set_io o_code[18]    K14
set_io o_code[19]    J15
set_io o_code[20]    K15
set_io o_code[21]    K16
set_io o_code[22]    J14
set_io o_code[23]    H14
set_io o_code[24]    G16
set_io o_code[25]    G15
set_io o_code[26]    F16
set_io o_code[27]    F15
set_io o_code[28]    G14
set_io o_code[29]    E16
set_io o_code[30]    D16
set_io o_code[31]    F14
set_io o_code[32]    D15
set_io o_code[33]    E14
set_io o_code[34]    C16
set_io o_code[35]    B16
set_io o_code[36]    D14
set_io o_code[37]    T1
set_io o_code[38]    R2
set_io o_code[39]    T2
set_io o_code[40]    R3
set_io o_code[41]    R5
set_io o_code[42]    T3
set_io o_code[43]    R4
set_io o_code[44]    T5
set_io o_code[45]    R6
set_io o_code[46]    P8
set_io o_code[47]    T6
set_io o_code[48]    T7
set_io o_code[49]    T8
set_io o_code[50]    T9
set_io o_code[51]    P9
set_io o_code[52]    R10
set_io o_code[53]    P10
set_io o_code[54]    N10
set_io o_code[55]    T10
set_io o_code[56]    T11
set_io o_code[57]    T15
set_io o_code[58]    T14
set_io o_code[59]    M11
set_io o_code[60]    T13
set_io o_code[61]    N12
set_io o_code[62]    T16
set_io o_code[63]    R16

